@import url("./theme.scss");

$background-color: #fff;

body { 
    overflow-x: hidden;
    margin: 53px 0 0; 
    background-color: $background-color;

    font-size: 14px;
    font-weight: normal;
    font-family: 'Kanit', 'sans-serif' !important;
    // line-height: mat-line-height($fontConfig, body-1);
    touch-action: manipulation;
}

.root {
    position: relative;
}
.bi {
    font-size: 18px;
  }



.table {
    background-color: white;
    min-width: max-content;
    th {
        background-color: #7531c1;
        color: white;
        width: max-content;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #acacac25;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(192, 192, 192, 0.637);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(223, 223, 223);
  }