@import url('https://fonts.googleapis.com/css?family=Kanit:300,300i,400,400i,500,500i&display=swap&subset=latin-ext,thai');

$primary-color: #7531c1;
$primary-lighter-color: #d6c1ec;
$primary-darker-color: #4a2886;

$accent-color: #feac00;
$accent-lighter-color: #ffe6b3;
$accent-darker-color: #fe9200;

$warn-color: #ff647c;
$warn-lighter-color: #ffd1d8;
$warn-darker-color: #ff485f;

$grid-gutter-width: 24px !default;
$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
    (
        "primary": $primary-color,
        "primary-lighter": $primary-lighter-color,
        "primary-darker": $primary-darker-color,
        "secondary": #48525a,
        "accent": $accent-color,
        "accent-lighter": $accent-lighter-color,
        "accent-darker": $accent-darker-color,
        "warn": $warn-color,
        "warn-lighter": $warn-lighter-color,
        "warn-darker": $warn-darker-color,
        "white": white
    ),
    $theme-colors
);

$input-btn-focus-width:       .2rem !default;
$input-btn-focus-color:       rgba($primary-color, .25) !default;
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color !default;

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge((0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)),
  $spacers);

$font-size-base: 0.875rem !default; // Assumes the browser default, typically `20px`
$font-size-lg: ($font-size-base * 0.875) !default;
$font-size-sm: ($font-size-base * 0.5) !default;

$h1-font-size: 107px !default;
$h2-font-size: 58px !default;
$h3-font-size: 45px !default;
$h4-font-size: 35px !default;
$h5-font-size: 25px !default;
$h6-font-size: 18px !default;

// $headings-margin-bottom: ($spacer / 2) !default;
// $headings-font-family: DBHeavent-Med !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.2 !default;
$headings-color: $primary-darker-color !default;


@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.scss";